.form {
    background-color:#fff;
    width:330px;
    height:300px;
    position: fixed;
    top: 4rem;
    right:0px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}
input {
    height:6vh;
    width:80%;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
    background-color: #f0eded;
    color:black;
}
@media (max-width:400px){
    .form {
        width: 250px;
    }
}
button {
    width:30%;
}
